@font-face {
    font-family: 'kaiu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/kaiu.ttf') format('truetype');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/times-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/times-700.ttf') format('truetype');
}