@font-face {
    font-family: 'KaiUWeb';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('../fonts/kaiu.ttf') format('truetype');
}

@font-face {
    font-family: 'TimesNRWeb';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('../fonts/times-400.ttf') format('truetype');
}

@font-face {
    font-family: 'TimesNRWeb';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: url('../fonts/times-500.ttf') format('truetype');
}